@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	margin: 0;
	padding: 0;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

#info-container {
	position: absolute;
	z-index: 888;
    left:50%;
	transform: translateX(-50%);
	display: flex;
  	justify-content: center;
}

#score, #life {
    border-radius: 5px;
	width: fit-content;
}

#playButton {
	z-index: 888;
	bottom:12%;
	left:50%;
	transform: translateX(-50%);
	display: inline-block;
	margin:5px;
	font-weight: bold;
	font-size: larger;
	padding: 10px 15px 10px 15px ;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 .2em lightgray; 
}